html{
    background-color: grey;
}

* {
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    /* grid-template-rows: 10vh 40vh 40vh 10vh; */
    grid-auto-rows: fill;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0, 20px;
    margin-top: 5%;
    margin-left: 30px;
    margin-right: 20px;
}

nav a:hover {
    font-weight: bolder;
    color: red;
}

nav img {
  margin-left: 30px;
  width: 100px;
  /* height: 10px; */
}

section {
    display: grid;
    margin: 20px auto;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    width: 70%;
}

.right {
    background-color: white;
}

.left {
    background-color: white;
}
